@model JsonSlicer.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
}


<h2>
    Upload or Paste File Contents
</h2>
<div class="alert alert-info">
    <strong>Heads up!</strong> If you choose to both upload a file and paste file contents, the uploaded file will be used. Sorry.
</div>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(x => x.InputFile, new { @class = "control-label" })
        <input type="file" name="InputFile" id="InputFile" class="form-control"/>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Contents, new { @class = "control-label" })
        @Html.TextAreaFor(x => x.Contents, new { @class = "form-control", rows = "10" })
    </div>
    
    <input class="btn btn-default" type="submit" value="Upload" />

    @ViewBag.Message
}
@if (Model.File != null)
{
    <hr />
    <h2>File Contents</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var kvp in Model.File.Data)
        {
            <tr>
                <td>@kvp.Key</td>
                <td>
                    <code>@kvp.Value</code>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
    